<h1> Listing all the articles </h1>

<table>
  <thead>
    <tr>
      <th>Article Number</th>
      <th>Title</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @articles.each do |article|%>
  <tr>
    <td><%=article.id%></td>
    <td><%=article.title%></td>
    <td><%=article.description%></td>
    <td>action</td>
  </tr>
    <% end %>
  </tbody>
</table>